<style>
.hidden-panel { display:none; }
</style>
<div class="hidden-panel" id="js-hidden-sign_up_form">{% include panels/panel_action_w_signup.html hide_volunteer=true %}</div>
<div class="hidden-panel" id="js-hidden-call_congress">{% include panels/panel_action_w_call_congress.html %}</div>
<div class="hidden-panel" id="js-hidden-volunteer_form">{% include panels/panel_action_w_volunteer.html %}</div>
<div class="hidden-panel" id="js-hidden-join_discussion">{% include panels/panel_action_w_join_discussion.html %}</div>
<div class="hidden-panel" id="js-hidden-spread_the_word">{% include panels/panel_action_w_spread_the_word.html %}</div>
<script src="/js/lib/js.cookie.js"></script>
<script type="text/javascript">
	$(document).ready( function() {
		var next_activity = ActionService.getNextActivity();
		safelog('Found next action', next_activity);
		safelog('Get all dynamic panels');
		var load_panel = '#js-hidden-' + next_activity.template_id.replace(/-/g,'_');
		safelog('load panel:',load_panel);
		$('.panel-wrapper').each( function( index, element ) {
			var panel = $(load_panel).html();
			$(element).html(panel);
		});
	});
</script>
